<h2>Sign in</h2>

<div id="wrapper">
  <header class="navbar-fixed-top mainHeader">
    <div class="container">
      <a href="#" class="logo">webonise lab</a>
    </div>
  </header>
  <!--header end here-->
  <section class="mainBg">
    <div class="container">
      <div class="row">
        <div class="spa6">
          <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),:class => "signInForm") do |f| %>
            <div class="controls">
              <%= f.email_field :email, :autofocus => true, :class=>"field",:placeholder=>"Enter email" %>
            </div>
            <div class="controls">
              <%= f.password_field :password,:class=>"field", :placeholder=>"password" %>
            </div>
              <%= f.submit "Sign in",:class=>"submitBtn" %>
              <% end %>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
  </footer>

</div>
