.showDetails {
    text-align: left;
    width: 440px;
    line-height: 30px;
    margin: 120px auto 0;

}
.showDetails .control-label {
    text-align: left;
    font-weight: bold;
    width: 110px;
}
.showDetails .controls {
    margin-left: 120px;
}
.showDetails .inputEmail{
    font: bold;
}
.new_idea {
    width: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 132px;
}
.new_idea .radio {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}

.edit_idea {
    width: 300px;
    margin: 0 auto;
    display: block;
}
.edit_idea .radio {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}
textarea {
    resize: none;
}
#new_comment{
    width: 440px;
    margin: 0 auto;
}
/* Start css for list for all ideas */
.ideaList{
    padding: 10px 10px;
    border-radius: 6px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 200;
    line-height: 5px;
    color: inherit;
    background-color: #EEE;
}
.blue_btn{
    float:right;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid
    transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;

}
.label{
    display: inline;
    padding: .25em .6em;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    color: white;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border-radius: .25em;
}
.clear{
    clear: both;
}
.pagination{
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}
/* pagination */
.customPagination {
    float: right;
}

.activity_pagination{
    margin-right: 407px;
    margin-top: 30px;
}

.customPagination a,.customPagination span, .customPagination .current, .customPagination .disabled {
    float: left;
    padding: 4px 12px;
    line-height: 24px;
    text-decoration: none;
    padding: 2px 8px;
    border: 1px solid #33485d;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #006DCC;
    margin-left: 5px;
}

.customPagination a:hover, .customPagination .current {
    background: #006DCC;
    color: #ffffff;
}

.customPagination .disabled, .customPagination .current {
    cursor: default;
}
.homeBtn {
     float: left;
     margin-left: 20px;
     font-size: 150%;
     color: #808080;
}

/* Css for list for all ideas */

/* css for post idea */
.error_msg{
    margin-bottom: 10px;
    color:#ff0000;
    float:left;
    font-size: 12px;
    font-family: 'ubunturegular', sans-serif;
}
.clear {
    display: block;
    height: 0.1px;
    clear: both;
}
em {
    color: red;
    font-style: normal;
}
em {
    font-style: italic;
 }
.signOutBtn {
    float: right;
    margin-left: 10px;
    font-size: 150%;
    color: #808080;
}

/* Css for list for all ideas */
#viewComments p.comments{
    background-color: #D5D5D5;
    border-radius: 2px;
    padding: 20px; 
}
.optionWrap {
     float: right;
     line-height: 81px;
     width: 165px;
 }
.optionWrap a:first-child {
    margin-left: 0;
}
.optionWrap span {
    margin-left: 10px;
}
#viewComments {
    width: 440px;
    margin: 0 auto;
}

.ideaSelectBox{
    float:right;
    margin-top: -43px;
}
#wrapper .singn_in_body{
    margin-top: 50px;
}
